body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {
    font-size: 1.5rem;
}

.modal-btn {
    text-transform: uppercase;
    background: #49a6e9;
    color: white;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.modal-btn:hover {
    background: #3c8dc5;
    transform: scale(1.1);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.modal-overlay.open-modal {
    opacity: 1;
    visibility: visible;
}

.modal-container {
    background: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60vw; /* 60% of the viewport width */
    max-width: 500px;
    height: 35vh; /* 50% of the viewport height */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    background: transparent;
    border: none;
    color: #ff0000;
    cursor: pointer;
    transition: 0.3s;
}

.close-btn:hover {
    color: #d51616;
    transform: scale(1.1);
}
