body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.delete-task {
    color: #f44336;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 100px;
    background-color: transparent;
}

ul {
    list-style-type: none;
    padding: 0;
}

.delete-task:hover {
    color: #d32f2f;
}

.completed {
    text-decoration: line-through;
    color: #888;
}
