:root {
    --light-gray: #f0f0f0;
    --gray: #333;
    --white: #fff;
    --green: #4caf50;
    --dark-green: #45a049;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--light-gray);
    margin: 0;
    padding: 0;
}

.clock {
    margin: 100px auto;
    background-color: var(--gray);
    color: var(--white);
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.time {
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-weight: bold;
}

.date {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

#format-switch {
    background-color: var(--green);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

#format-switch:hover {
    background-color: var(--dark-green);
}
