:root {
    --light-gray: #f0f0f0;
    --dark-gray: #333;
    --white: #fff;
    --green: #3a833a;
    --light-green: #4c9d4c;
    --red: #d4403a;
    --dark-red: #c13732;
    --grey: grey;
    --gray: #999;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--light-gray);
}

.container {
    margin: 100px auto;
    max-width: 600px;
}

h2 {
    font-size: 2.5rem;
    color: var(--dark-gray);
}

.counter {
    background-color: var(--white);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#count {
    font-size: 7rem;
    margin-bottom: 20px;
}

button {
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

#increment {
    background-color: var(--green);
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

#increment:hover {
    background-color: var(--light-green);
    transform: scale(1.1);
}

#decrement {
    background-color: var(--red);
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

#decrement:hover {
    background-color: var(--dark-red);
    transform: scale(1.1);
}

#reset {
    background-color: var(--grey);
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

#reset:hover {
    background-color: var(--gray);
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .btns {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        transition: all 1s;
    }

    #count {
        margin-bottom: 20px;
    }

    button {
        margin: 5px 0;
        width: 50%; /* Make all buttons equal width on small screens */
    }
}
