* {
    margin: 0;
    padding: 0;
    /* to remove default margin and padding of body */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 500px;
    height: 500px;
    /* background-color: red; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    /* transition: all 0.5s; */
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

.counter {
    background-color: white;
    width: 100%;
    /* yeh iske parent container ka pura widht le lega
     */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

#value {
    font-size: 7rem;
}

.btns {
    display: flex;
    gap: 15px;
}
button {
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

#increment {
    background-color: #3a833a;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

#increment:hover {
    background-color: #4c9d4c;
    transform: scale(1.1);
    /* means that the element will be enlarged by 10% in both the horizontal and vertical directions.
 */
}
/* The CSS transform property with the scale() function is used to scale an element in two-dimensional space.  */

#reset {
    background-color: grey;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

#reset:hover {
    background-color: #999;
    transform: scale(1.1);
}

#decrement {
    background-color: #d4403a;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

#decrement:hover {
    background-color: #c13732;
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .btns {
        flex-direction: column-reverse;
        transition: all 1s;
    }

    .container {
        width: 300px;
    }
}
