* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: darkolivegreen; */
}

.time-input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    gap: 20px;
}

input {
    padding: 10px 0px 10px 30px;
    font-size: 4rem;
    border-radius: 10px;
}

.hours,
.minutes,
.seconds {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.btns {
    position: fixed;
    bottom: 50px;
}

button {
    margin: 20px;
    padding: 10px 65px;
    border-radius: 10px;
    font-size: 1rem;
}

.start {
    background-color: #25a745;
    border: none;
    color: white;
}

.done {
    background-color: gray;
    border: none;
    color: white;
}

.hidden {
    display: none;
}

.timer {
    border: 7px solid darkorange;
    /* background-color: red; */
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-weight: bold;
}

.timer-hidden {
    display: none;
}
